
  <div class="card">
      <img class="imagenCard" src={{photo}} alt="place photo">
      <h3>El nombre en cards:{{this.name}}</h3>
      <h4>{{this.locationType}}</h4>
      <p>Ranking: {{this.ranking}}</p>
      <p>Description:{{this.description}}</p>
    
  </div>
