<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{!-- mapbox --}}
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css'
    type='text/css' />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/maps.css" />
</head>

<body>
  <header id="header">
    <!-- Mobil nav -->


    <nav class="mobil-nav">
  
      <a href="/search/locations"><img class="icon" src="https://res.cloudinary.com/ironhack-daniel/image/upload/v1562958807/Loklize_g8cydi.png"></a>

      <input id="menu-toggle" type="checkbox" />
      <label for="menu-toggle" class="menu-on"> <i class="fas fa-bars fa-2x"></i></label>
      <label for="menu-toggle" class="menu-off"><i class="fas fa-times fa-2x"></i></label>
      <label for="menu-toggle" class="menu-overflow"> </label>

      <ul class="nav-list">
        {{#if loggedUser}}
        <li class="nav-item"><a href="/search/locations">Home</a></li>
        <li class="nav-item"> <a href="/search/locations/type/restaurant">Restaurantes</a></li>
        <li class="nav-item"><a href="/search/locations/type/bar">Bares</a></li>
        <li class="nav-item"><a href="/search/locations/type/hotel">Hoteles</a></li>
        <li class="nav-item"><a href="/search/locations/type/entreteinmentCenter">Centros de Entretenimiento</a></li>
        <li class="nav-item"><a href="/search/locations/type/library">Bibliotecas</a></li>
        <li class="nav-item"> <a href="/profile">Profile</a></li>
        <li class="nav-item"> <a href="/logout">Logout</a></li>
        {{else}}
        <li class="nav-item"><a href="/search/locations">Home</a></li>
        <li class="nav-item"> <a href="/search/locations/type/restaurant">Restaurantes</a></li>
        <li class="nav-item"><a href="/search/locations/type/bar">Bares</a></li>
        <li class="nav-item"><a href="/search/locations/type/hotel">Hoteles</a></li>
        <li class="nav-item"><a href="/search/locations/type/entreteinmentCenter">Centros de Entretenimiento</a></li>
        <li class="nav-item"><a href="/search/locations/type/library">Bibliotecas</a></li>
        <li class="nav-item"><a href="/login">Login</a></li>
        <li class="nav-item"><a href="/signup"> Signup</a></li>
        {{/if}}

      </ul>

    </nav>
    <!-- Nav -->
    <nav class="nav">
      {{#if loggedUser}}
      <a href="/search/locations"><img class="icon" src="https://res.cloudinary.com/ironhack-daniel/image/upload/v1562958807/Loklize_g8cydi.png"></a>
      {{else}}
      <a href="/search/locations"><img class="icon" src="https://res.cloudinary.com/ironhack-daniel/image/upload/v1562958807/Loklize_g8cydi.png"></a>

      {{/if}}


      <ul class="nav-row">
        {{!-- <li class="nav-links"><a href="/">Home</a></li> --}}
        <li class="nav-links"> <a href="/search/locations/type/restaurant">Restaurantes</a></li>
        <li class="nav-links"><a href="/search/locations/type/bar">Bares</a></li>
        <li class="nav-links"><a href="/search/locations/type/hotel">Hoteles</a></li>
        <li class="nav-links"><a href="/search/locations/type/entreteinmentCenter">Centros de Entretenimiento</a></li>
        <li class="nav-links"><a href="/search/locations/type/library">Bibliotecas</a></li>

        {{#if loggedUser}}

        {{!--  --}}
        <li class="nav-links"> <a href="/profile">Profile</a></li>
        <li class="nav-links"><a href="/logout">Logout</a></li>
        {{else}}

        <li class="nav-links"><a href="/login">Login</a></li>
        <li class="nav-links"><a href="/signup"> Signup</a></li>
        {{/if}}

      </ul>
    </nav>
  </header>




  {{{body}}}

  <!--Bootstrap y jquery-->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/d5ce87c5d3.js"></script>


  <!--Main-active-JS-->
  <script src="/javascripts/script.js"></script>
</body>

</html>